.box1 {
  width: 100px;
  height: 100px;
  background-image: ('../images/1.jpeg');
}

.box2 {
  width: 100px;
  height: 100px;
  background-image: ('../images/2.png');
}

.box3 {
  width: 100px;
  height: 100px;
  background-image: ('../images/3.gif');
}